{% block sw_product_detail_layout_cms_config_form %}
    <div class="lae-language-inheritance--cms-page-wrapper">
        <div
                class="lae-language-inheritance--cms-page-active-notice"
                v-if="product?.customFields?.laeLanguageInheritance"
        >
            <p class="outline">
                {{ $tc('lae-language-inheritance.sw-product.inheritance-active') }}
            </p>
            <mt-button
                    @click="openPageLanguageInheritanceModal = true
"
            >
                <sw-icon
                        small
                        name="regular-globe-stand"
                />
                {{ $tc('lae-language-inheritance.sw-cms-page-form.button') }}
            </mt-button>
        </div>
        <div
                :class="{'lae-language-inheritance--cms-page-active': product?.customFields?.laeLanguageInheritance}"
        >
            {% parent %}
        </div>
    </div>

    <lae-language-inheritance-modal
            v-if="openPageLanguageInheritanceModal"
            :initLanguage="product?.customFields?.laeLanguageInheritance"
            @select-language="onSelectLanguage"
            @modal-close="openPageLanguageInheritanceModal = null"
    />
{% endblock %}